
body {
    background-color: #F6F6F1;
    color: #161616;
    margin: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    text-align: center;
}

header {
    background-color: #EDE8DD;
    padding: 20px;
}

footer {
    background-color: #161616;
    color: #FFFFFF;
    padding: 20px;
}

h1 {
    font-family: 'Press Start 2P', cursive, serif;
    font-size: 1.25em;
}

h2 {
    font-family: 'Press Start 2P', cursive, serif;
    font-size: 1em;
}

h3 {
    font-size: 1.5em;
    font-weight: 500;
}

a{
    color: inherit;
    text-decoration: inherit;
}
