
:root {
    --primary: #DEF3FF;
    --light: #E5E5E5;
    --dark: #161616;
    --bright: #FFFFFF;
    --padding-clamp: clamp(20px, 4.89vh, 50px);
}

@font-face {
    font-family: 'Print Char 21';
    src: url('./PrintChar21.ttf')
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    background-color: var(--light);
    color: var(--dark);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
}

header, main {
    position: relative;
    width: 100%;

    flex: 1 0 auto;
}


footer {
    width: 100%;
    bottom: 0;

    flex-shrink: 0;;
}

h1 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

h1 > strong {
    font-family: 'Print Char 21', monospace;
}

h2 {
    font-family: 'Print Char 21', monospace;
    font-size: 1rem;
}

h3 {
    font-size: 1rem;
    font-weight: 500;
}

a {
    color: inherit;
    text-decoration: inherit;
}

/* Intro Section */

.menu  a:hover {
    text-decoration: underline;
}

#profile-pic-container {
    width: min(40%, 600px);
    text-align: center;
}

.profile-pic {
    vertical-align: top;
    width: clamp(200px, 70%, 350px);
    height: auto;
}


.content-block { 
    overflow-x: hidden;
    max-width: 1300px;
    padding: var(--padding-clamp) var(--padding-clamp) 0;

}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
    margin: 0 0;
}

.flex-item {
    margin: 0 0;
}

.center-text {
    text-align: center;
}

.title-section {
    background-color: var(--primary);
    min-height: 100%;
}

.body-section {
    background-color: var(--light);
}

.info-section {
    background-color: var(--dark);
    color: var(--bright);
    line-height: 2rem;
    padding-bottom: var(--padding-clamp);
}

.section-title {
    margin: 0 auto 30px;
}

#main-banner {
    gap: 0;
    z-index: 1;
    align-items: center;
}


/* Modular Code Blocks */

/* .recent-work-card {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 50px;
    height: auto;
    max-width: 1250px;
    background-color: var(--bright);
    border-radius: 25px;
    padding: 20px;
    margin: 10px auto;
    text-align: left;
} */

.recent-work-card {
    display: flex;
    flex-direction: row;
    gap: 30px;
    height: auto;
    max-width: 1250px;
    background-color: var(--bright);
    border-radius: 25px;
    padding: 20px;
    margin: 10px auto;
    text-align: left;
}

.rw-info-block {
    margin: auto 0;
    flex-basis: 700px 400px;
    flex-shrink: 1 0;
}

.rw-title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 42px;
    margin: 15px 0;
}

.rw-tag {
    display: inline-block;
    padding: 7px 15px;
    background-color: #aaaaaa;
    border-radius: 25px;
    font-weight: 500;
    margin: 15px 20px 15px 0;
}

.rw-description {
    margin: 15px 0;
}

.rw-red {
    background-color: #F8C3AC;
}

.rw-blue {
    background-color: #ACEAF8;
}

@media only screen and (max-width: 1439px) {

    .section-title {
        max-width: 490px;
    }


    .recent-work-card {
        max-width: 490px;
        max-height: 800px;
        flex-direction: column;
        gap: 10px;
        font-size: min(1rem, 2.5vw);
    }

    .rw-info-block {
        margin: 0 15px;
    }

    .rw-title {
        font-size: min(1.65rem, 4.5vw);
        margin: 5px 0;
        line-height: inherit;
    }

    .rw-image {
        flex-basis: 450px 400px;
        flex-shrink: 1;
    }
    
    .rw-image img {
        width: 100%;
        height: auto;
        object-fit: fill;
    }

    .rw-tag {
        margin: 5px 10px 5px 0;
    }
    
    .rw-description {
        margin: 5px 0;
    }
}

@media only screen and (max-width: 1079px) {
    #main-banner {
        flex-direction: column;
        margin: 30px;
        gap: 50px;
    }

    #profile-pic-container{
        width: auto;
    }
}