
:root {
    --primary: #DEF3FF;
    --light: #F1F1F1;
    --dark: #161616;
    --bright: #FFFFFF;
    --padding-clamp: clamp(15px, 4.89vw, 50px);
    --shadow-dimensions: 0px 20px 24px 8px rgba(0, 0, 0, 0.15);
    --shadow-dimensions-hover: 0px 20px 24px 8px rgba(0, 0, 0, 0.45);
    --transition-timing: 250ms;
}

@font-face {
    font-family: 'Print Char 21';
    src: url('./PrintChar21.ttf')
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bright);
    color: var(--dark);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
}

header, main {
    position: relative;
    width: 100%;

    flex: 1 0 auto;
}


footer {
    width: 100%;
    bottom: 0;

    flex-shrink: 0;;
}

h1 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 2rem;
}

h1 > span {
    font-family: 'Print Char 21', monospace;
}

h2 {
    font-family: 'Print Char 21', monospace;
    font-size: 1rem;
}

h3 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

a {
    color: inherit;
    text-decoration: inherit;
}

button {
    border: none;
    border-radius:25px;
    font: inherit;
}

form {
    text-align: center;
}




/*** Common Classes ***/
/* 
.logo:focus, .nav-item:focus {
    border: none;
    text-decoration: underline;
} */

.section-title {
    margin: 0 auto 30px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
    margin: 0 0;
}

.content-block { 
    overflow-x: hidden;
    max-width: 1300px;
    padding: var(--padding-clamp) var(--padding-clamp) 0;
    margin-left: auto;
    margin-right: auto;

}

.flex-item {
    margin: 0 0;
}
   
.crop-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.center-text {
    text-align: center;
}

.blue-section {
    background-color: var(--primary);
}

.light-section {
    background-color: var(--light);
}

.bright-section {
    background-color: var(--bright);
}

.dark-section {
    background-color: var(--dark);
    color: var(--bright);
    line-height: 2rem;
    padding-bottom: var(--padding-clamp);
}




/*** Intro Section ***/

/* Nav Section */

.menu .nav-item {
    background-color: #ffffff00;
    font: inherit;
    border: none;
}

.menu  .nav-item:hover {
    text-decoration: underline;
}

.top-nav {
    display: flex;
}

.side-menu-block {
    display: none;
    position: fixed;
    height: 100vh;
    width: 400px;
    right: -100%;
    top: 0;
    margin: 0 auto;
    padding: var(--padding-clamp) var(--padding-clamp);
    background-color: #FFFFFFEE;
    box-shadow: var(--shadow-dimensions);
    font-weight: 500;
    transition-duration: 100ms;
    z-index: 1;
}

.side-menu-block:hover {
    box-shadow: var(--shadow-dimensions-hover);
    transition-duration: 250ms;
}


#burger-toggle {
    display: none;
    opacity: 0;
}

#burger-toggle:checked + .burgerX > span {
    transform: translateY(.75rem) rotate(45deg);
}

#burger-toggle:checked + .burgerX > span::before {
    transform: translateY(-.75rem)rotate(-90deg);
}

#burger-toggle:checked + .burgerX > span::after {
    transform: translateY(-1.5rem) rotate(-90deg);
}

#burger-toggle:checked ~ .side-menu-block {
    right: 0;
}

.burgerX {
    display: none;
    position: fixed;
    margin: 0 auto;
    right: var(--padding-clamp);
    top: var(--padding-clamp);
    width: 3rem;
    height: 2.5rem;
    cursor: pointer;
    z-index: 10;
}

.burgerX > span,
.burgerX > span::before,
.burgerX > span::after {
    display: block;
    position: absolute;
    background-color: var(--dark);
    width: 100%;
    height: .3rem;
    transition-duration: 250ms;
}

.burgerX > span::before {
    content: '';
    top: .75rem;
}

.burgerX > span::after {
    content: '';
    top: 1.5rem;
}

.side-nav {
    height: 100vh;
    width: 100%;
    font-size: 1.5rem;
}

.side-nav-item {
    margin: 8vh 0 6vh;
    padding: 30px 100% 30px 0;
    display: flex;
}



/* Banner Block */

#main-banner {
    gap: min(180px, 8vw);
    z-index: 1;
    align-items: center;
    justify-content: stretch;
}

#profile-pic-container {
    width: min(40%, 600px);
    text-align: center;
}

.profile-pic {
    vertical-align: top;
    width: 100%;
    height: auto;
    padding-bottom: 70px;
}




/*** Body Sections ***/

/* Recent Work Section */

.project-name {
    margin: 10px auto 100px;
}

.recent-work-card {
    display: flex;
    flex-direction: row;
    gap: 30px;
    height: auto;
    max-width: 1250px;
    background-color: var(--bright);
    border-radius: 25px;
    padding: 20px;
    text-align: left;
    font-size: min(1em, 1.5vw);
    box-shadow: var(--shadow-dimensions);
    transition-duration: 100ms;
}

.recent-work-card:hover {
    box-shadow: var(--shadow-dimensions-hover);
    transition-duration: 250ms;
}

.rw-image {
    flex-basis: 450px;
    height: auto;
    flex-shrink: 0;
    border-radius: 30px;
}

.rw-info-block {
    margin: auto 0;
    flex-basis: 700px;
    height: auto;
    flex-shrink: 1;
    padding-right: 20px;
}

.rw-title {
    text-transform: uppercase;
    font-size: clamp(1.5rem, 3vw, 2rem);
    font-weight: 700;
    line-height: 42px;
    margin: 15px 0;
}

.rw-tag {
    display: inline-block;
    padding: 7px 15px;
    background-color: #aaaaaa;
    border-radius: 25px;
    font-weight: 500;
    margin: min(3%, 15px) 0;
    margin-right: min(20px, 5%);
    font-size: min(1em, 2vw);
}

.rw-description {
    margin: 15px 0;
}





/****** Project Pages ******/

/*** Common Classes ***/


/*** Banner ***/

.project-banner {
    margin-top: 5%;
    margin-bottom: 5%;
}

.proj-banner-img {
    width: 100%;
    height: 50vh;
}



/*** Overview Grid Section ***/

.proj-grid {
    font-weight: 500;
    flex-wrap: wrap;
    margin: 5vw auto 0;
    padding: var(--padding-clamp);
    align-items: center;
}

.proj-grid-block {
    display: block;
    width: clamp(80px, 40vw, 500px);
    height: auto;
    margin: 0 auto;
    font-size: clamp(1em, .5vw, 1.0625rem);
}

.challenge-section {
    position: relative;
    margin: 0 auto;
}

.challenge-section::before {
    content:'';
    background-color: var(--primary);
    display: block;
    position: absolute;
    width: 100vw;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
}

.challenge-flex {
    position: relative;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    height: 100%;
}



.grid-img {
    width:  min(40vw, 500px);
    height: auto;
    border-radius: 25px;
    align-items: center;

}

.grid-img img {
    border-radius: 25px;
    width: 100%;
    height: auto;
    object-fit: cover;
}



/*** Process Section ***/

#process-section {
    padding-top: 5rem;
}

.process-text {
    margin-top: 5vw;
    margin-bottom: 5vw;
    font-size: clamp(1rem, 2vw, 1.125rem);
}

.process-bullet {
    margin-left: 2rem;
    line-height: clamp(2rem, 5vw, 3rem);
}

.process-img {
    width: inherit;
    height: 30vh;
}

.process-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/*** Conclusion Section ***/

#conclusion-section {
    padding: min(10vw, 100px);
}

.conclusion-block {
    padding: min(2vw, 30px) var(--padding-clamp) var(--padding-clamp);
}

.conclusion-text {
    font-weight: 500;
    padding-bottom: var(--padding-clamp);
    font-size: clamp(1rem, 3vw, 1.25rem);
}





/****** Footer Section ******/

#contact {
    z-index: 2;
}



/*** Mobile View ***/

@media only screen and (max-width: 870px) {

    /*** Common ***/
    /* .section-title {
        max-width: 490px;
    } */

    .section-title > h1 {
        font-size: clamp(1.5rem, 5vw, 2rem);
    }
    
    .section-title > h3 {
        font-size: clamp(1.25rem, 4vw, 1.5rem);
    }

    .flex-container {
        flex-direction: column;
    }



    /*** Intro Section ***/

    /* Navigation Section */

    .top-nav {
        display: none;
    }

    .burgerX {
        display: block;
    }

    .side-menu-block {
        display: block;
        width: min(400px, 45vw);
    }

    .side-nav {
        font-size: clamp(.7rem, 3vw, 1.2rem);
    }



    /*** Body ***/

    /* Recent Work */

    .recent-work-card {
        max-width: 490px;
        height: clamp(500px, 125vw, 700px);
        gap: 10px;
        font-size: min(1rem, 3vw);

    }

    .rw-info-block {
        margin: 0 15px;
        padding-right: min(20px, .5vw);
    }

    .rw-title {
        font-size: clamp(1.25rem, 4.5vw, 1.65rem);
        margin: 5px 0;
        line-height: inherit;
    }

    .rw-image {
        flex-shrink: 1;
    }

    .rw-tag {
        margin: 5px 10px 5px 0;
    }
    
    .rw-description {
        margin: 5px 0;
    }

    #main-banner {
        margin: 30px;
        gap: 50px;
    }

    #profile-pic-container{
        width: auto;
    }



    /****** Project Pages ******/

    /*** Grid Section ***/

    

    .proj-grid-block {
        padding-right: min(20px, .5vw);
        width: clamp(80px, 60vw, 500px);
    }

    .challenge-section::before {
        height: 80%;
        transform: translateY(-30%);
    }
}