
:root {
    --primary: #DEF3FF;
    --light: #E5E5E5;
    --dark: #161616;
    --bright: #FFFFFF;
    --padding-clamp: clamp(20px, 4.89vh, 50px);
}

@font-face {
    font-family: 'Print Char 21';
    src: url('./PrintChar21.ttf')
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    background-color: var(--light);
    color: var(--dark);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 1.125rem;

    display: flex;
    flex-direction: column;
}

header, main {
    position: relative;
    width: 100%;

    flex: 1 0 auto;
}


footer {
    width: 100%;
    bottom: 0;

    flex-shrink: 0;;
}

h1 {
    font-family: 'Print Char 21', monospace;
    font-size: 1.5rem;
}

h2 {
    font-family: 'Print Char 21', monospace;
    font-size: 1rem;
}

h3 {
    font-size: 1rem;
    font-weight: 500;
}

a{
    color: inherit;
    text-decoration: inherit;
}

#profile-pic {
    text-align: right;
    right: -100px;
}

.profile-pic {
    vertical-align: top;
    width: 100%;
    height: auto;
}


.content-block { 
    overflow-x: hidden;
    max-width: 1300px;
    padding: var(--padding-clamp) var(--padding-clamp) 0;

}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
    margin: 0 0;
}

.flex-item {
    margin: 0 0;
}

.center-text {
    text-align: center;
}

.title-section {
    background-color: var(--primary);
    min-height: 100%;
}

.body-section {
    background-color: var(--light);
}

.info-section {
    background-color: var(--dark);
    color: var(--bright);
    line-height: 2rem;
    padding-bottom: var(--padding-clamp);
}

#main-banner {
    gap: 0;
    z-index: 1;
    align-items: center;
}


/* Modular Code Blocks */

.recent-work-card {
    height: 100px;
    width: 40%;
    background-color: var(--bright);
    border-radius: 5px;
    margin: 10px auto;
    text-align: center;
}